@{
    ViewBag.Title = "Home";
}

<h2>Menu</h2>
<div >
    <ul >
        <li>@Html.ActionLink("Configuracion", "Configurar", "Home")</li>
        <li>@Html.ActionLink("Guardarropas", "Index", "Guardarropas")</li>
        <li>@Html.ActionLink("Prendas", "Index", "Prendas")</li>
        <li>@Html.ActionLink("Pedidos", "Index", "Pedidos")</li>
    </ul>
</div>